@import "~/.local/share/rofi/themes/catppuccin-mocha.rasi"

window {
    transparency:                   "real";
	width:							36%;
	height:							50%;
    location:                       center;
    x-offset:                       0;
    y-offset:                       0;
}

* {
	font: "JetBrainsMono Nerd Font 10";
}

