/** Basic config file **/

configuration {
	show-icons:				true;
	icon-theme:				"Oranchelo";
	terminal:				"alacritty";
	drun-display-format:	"{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: "   Apps ";
	sidebar-mode: true;
}


@theme "catppuccin-mocha"
